In [ ]:
Assignment 1: Linear and Logistic Regression

In [ ]:

SET A

In [ ]:
1.	Create ‘sales’ Data set having 5 columns namely: ID, TV, Radio, Newspaper and Sales.(random 500 entries) Build a linear regression model by identifying independent and target variable. Split the variables into training and testing sets. then divide the training and testing sets into a 7:3 ratio, respectively and print them. Build a simple linear regression model.

In [5]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

np.random.seed(42)

df = pd.DataFrame({
    "ID": np.arange(1, 501),
    "TV": np.random.uniform(10, 300, 500),
    "Radio": np.random.uniform(1, 50, 500),
    "Newspaper": np.random.uniform(0, 40, 500),
    "Sales": np.random.uniform(5, 30, 500)
})
df

      ID          TV      Radio  Newspaper      Sales
0      1  118.616634  35.209924   7.405317  17.977045
1      2  285.707149  27.268722  21.676038  16.979547
2      3  222.278243  16.166853  34.917833   5.641052
3      4  183.610960  40.875956  29.288995  13.531196
4      5   55.245406  34.551827  32.262446  14.504890
..   ...         ...        ...        ...        ...
495  496  112.472146   5.487522  26.728512  21.423879
496  497  179.260272  45.948365  24.779614  28.915366
497  498   32.543045   7.704113  18.539762   6.723950
498  499  292.574494  47.561630  15.191431   6.426368
499  500  296.001116  22.854283  34.533346  12.054677

[500 rows x 5 columns]

In [7]:
X = df[["TV", "Radio", "Newspaper"]]
y = df["Sales"]

X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.3, random_state=42
)
print(df.head())
print(X_train.head())
print(X_test.head())
print(y_train.head())
print(y_test.head())

   ID          TV      Radio  Newspaper      Sales
0   1  118.616634  35.209924   7.405317  17.977045
1   2  285.707149  27.268722  21.676038  16.979547
2   3  222.278243  16.166853  34.917833   5.641052
3   4  183.610960  40.875956  29.288995  13.531196
4   5   55.245406  34.551827  32.262446  14.504890
             TV      Radio  Newspaper
5     55.238411   8.968230  26.351335
116  243.064902   3.992820   3.659473
45   202.131462  18.549973  24.634528
16    98.230250  19.446705   7.223014
462  226.353015  13.022106   4.263721
             TV      Radio  Newspaper
361  196.553583  23.211153   8.426488
73   246.483814  31.482248   0.714957
374   30.644708   2.243931   9.889243
155   80.196029   7.251435  30.108666
104  273.194277   6.911158  39.796313
5      14.970570
116    29.853484
45     17.088641
16     21.186868
462    25.995057
Name: Sales, dtype: float64
361    21.404046
73     26.569927
374    23.320039
155    28.423946
104     6.735596
Name: Sales, dtype: float64

In [8]:
model = LinearRegression()
model.fit(X_train, y_train)

print(model.intercept_)
print(model.coef_)
print(model.predict(X_test)[:10])

17.354762708875786
[ 0.00210984  0.00642885 -0.00946402]
[17.8389325  18.0704332  17.34025211 17.28563303 17.59895727 17.67369198
 17.40920947 17.46846293 17.57848056 17.85875094]

In [ ]:
2.	Create ‘realestate’ Data set having 4 columns namely: ID,flat, houses and purchases (random 500 entries). Build a linear regression model by identifying independent and target variable. Split the variables into training and testing sets and print them. Build a simple linear regression model for predicting purchases.

In [11]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

np.random.seed(42)

df = pd.DataFrame({
    "ID": np.arange(1, 501),
    "flat": np.random.uniform(500, 3000, 500),
    "houses": np.random.uniform(1000, 5000, 500),
    "purchases": np.random.uniform(50, 200, 500)
})

df

      ID         flat       houses   purchases
0      1  1436.350297  3792.646856   77.769939
1      2  2876.785766  3144.385465  131.285142
2      3  2329.984855  2238.110465  180.941875
3      4  1996.646210  4255.180079  159.833733
4      5   890.046601  3738.924690  170.984172
..   ...          ...          ...         ...
495  496  1383.380570  1366.328293  150.231920
496  497  1959.140280  4669.254302  142.923552
497  498   694.336592  1547.274524  119.524107
498  499  2935.987019  4800.949415  106.967867
499  500  2965.526861  2784.023092  179.500047

[500 rows x 4 columns]

In [12]:
X = df[["flat", "houses"]]
y = df["purchases"]
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.3, random_state=42
)
print(df.head())
print(X_train.head())
print(X_test.head())
print(y_train.head())
print(y_test.head())

   ID         flat       houses   purchases
0   1  1436.350297  3792.646856   77.769939
1   2  2876.785766  3144.385465  131.285142
2   3  2329.984855  2238.110465  180.941875
3   4  1996.646210  4255.180079  159.833733
4   5   890.046601  3738.924690  170.984172
            flat       houses
5     889.986301  1650.467757
116  2509.180192  1244.311839
45   2156.305711  2432.650872
16   1260.605607  2505.853468
462  2365.112198  1981.396439
            flat       houses
361  2108.220546  2813.155339
73   2538.653571  3488.346801
374   677.971621  1101.545423
155  1105.138179  1510.321211
104  2768.916185  1482.543484
5      148.817505
116     63.723026
45     142.379478
16      77.086302
462     65.988955
Name: purchases, dtype: float64
361     81.599328
73      52.681090
374     87.084661
155    162.907496
104    199.236173
Name: purchases, dtype: float64

In [13]:
model = LinearRegression()
model.fit(X_train, y_train)

print(model.intercept_)
print(model.coef_)
print(model.predict(X_test)[:10])

120.7470358315045
[ 0.00503663 -0.000939  ]
[128.72381749 130.25774665 123.12738032 124.89502052 133.30093307
 124.10829046 120.14447902 122.87426251 119.86906142 129.85632277]

In [ ]:
3.	Create ‘User’ Data set having 5 columns namely: User ID, Gender, Age, EstimatedSalary and Purchased. Build a logistic regression model that can predict whether on the given parameter a person will buy a car or not.

In [15]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import LabelEncoder

np.random.seed(42)

df = pd.DataFrame({
    "UserID": np.arange(1, 501),
 	   "Gender": np.random.choice(["Male", "Female"], 500),
   	 "Age": np.random.randint(18, 65, 500),
  	  "EstimatedSalary": np.random.randint(20000, 150000, 500),
    	"Purchased": np.random.choice([0, 1], 500)
})
df

     UserID  Gender  Age  EstimatedSalary  Purchased
0         1    Male   38           149668          0
1         2  Female   49           124680          1
2         3    Male   40            36907          1
3         4    Male   50            38777          1
4         5    Male   20           113229          0
..      ...     ...  ...              ...        ...
495     496    Male   59            22079          1
496     497    Male   39            22717          0
497     498  Female   38            79676          0
498     499    Male   23            47952          0
499     500  Female   18           106444          1

[500 rows x 5 columns]

In [16]:
le = LabelEncoder()
df["Gender"] = le.fit_transform(df["Gender"])

In [17]:
X = df[["Gender", "Age", "EstimatedSalary"]]
y = df["Purchased"]

X_train, X_test, y_train, y_test = train_test_split(
 	   X, y, test_size=0.3, random_state=42
)
print(df.head())
print(X_train.head())
print(X_test.head())
print(y_train.head())
print(y_test.head())

   UserID  Gender  Age  EstimatedSalary  Purchased
0       1       1   38           149668          0
1       2       0   49           124680          1
2       3       1   40            36907          1
3       4       1   50            38777          1
4       5       1   20           113229          0
     Gender  Age  EstimatedSalary
5         0   35            71745
116       1   22            48024
45        0   40            36748
16        0   40            63221
462       0   34            57148
     Gender  Age  EstimatedSalary
361       1   52            32999
73        0   52           136664
374       1   35            35328
155       0   29           132613
104       0   29            80004
5      1
116    0
45     0
16     1
462    0
Name: Purchased, dtype: int32
361    0
73     1
374    0
155    0
104    0
Name: Purchased, dtype: int32

In [18]:
model = LogisticRegression()
model.fit(X_train, y_train)
print(model.score(X_test, y_test))
print(model.predict(X_test)[:10])

0.4666666666666667
[0 0 1 0 0 0 0 0 0 0]

In [ ]:
Set B

In [ ]:
1.	Build a simple linear regression model for Fish Species Weight Prediction. (download dataset https://www.kaggle.com/aungpyaeap/fish-market?select=Fish.csv )

In [24]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

df = pd.read_csv("Fish.csv")

df

    Species  Weight  Length1  Length2  Length3   Height   Width
0     Bream   242.0     23.2     25.4     30.0  11.5200  4.0200
1     Bream   290.0     24.0     26.3     31.2  12.4800  4.3056
2     Bream   340.0     23.9     26.5     31.1  12.3778  4.6961
3     Bream   363.0     26.3     29.0     33.5  12.7300  4.4555
4     Bream   430.0     26.5     29.0     34.0  12.4440  5.1340
..      ...     ...      ...      ...      ...      ...     ...
154   Smelt    12.2     11.5     12.2     13.4   2.0904  1.3936
155   Smelt    13.4     11.7     12.4     13.5   2.4300  1.2690
156   Smelt    12.2     12.1     13.0     13.8   2.2770  1.2558
157   Smelt    19.7     13.2     14.3     15.2   2.8728  2.0672
158   Smelt    19.9     13.8     15.0     16.2   2.9322  1.8792

[159 rows x 7 columns]

In [26]:
df = df.dropna()
df

    Species  Weight  Length1  Length2  Length3   Height   Width
0     Bream   242.0     23.2     25.4     30.0  11.5200  4.0200
1     Bream   290.0     24.0     26.3     31.2  12.4800  4.3056
2     Bream   340.0     23.9     26.5     31.1  12.3778  4.6961
3     Bream   363.0     26.3     29.0     33.5  12.7300  4.4555
4     Bream   430.0     26.5     29.0     34.0  12.4440  5.1340
..      ...     ...      ...      ...      ...      ...     ...
154   Smelt    12.2     11.5     12.2     13.4   2.0904  1.3936
155   Smelt    13.4     11.7     12.4     13.5   2.4300  1.2690
156   Smelt    12.2     12.1     13.0     13.8   2.2770  1.2558
157   Smelt    19.7     13.2     14.3     15.2   2.8728  2.0672
158   Smelt    19.9     13.8     15.0     16.2   2.9322  1.8792

[159 rows x 7 columns]

In [27]:
X = df[["Length1", "Length2", "Length3", "Height", "Width"]]
y = df["Weight"]

X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.3, random_state=42
)
print(df.head())
print(X_train.head())
print(X_test.head())

  Species  Weight  Length1  Length2  Length3   Height   Width
0   Bream   242.0     23.2     25.4     30.0  11.5200  4.0200
1   Bream   290.0     24.0     26.3     31.2  12.4800  4.3056
2   Bream   340.0     23.9     26.5     31.1  12.3778  4.6961
3   Bream   363.0     26.3     29.0     33.5  12.7300  4.4555
4   Bream   430.0     26.5     29.0     34.0  12.4440  5.1340
     Length1  Length2  Length3   Height   Width
85      19.3     21.3     22.8   6.3840  3.5340
81      18.2     20.0     21.0   5.0820  2.7720
112     34.0     36.5     39.0  10.8810  6.8640
11      28.7     31.0     36.2  14.3714  4.8146
109     30.5     32.8     34.0  10.0300  6.0180
     Length1  Length2  Length3  Height   Width
78      16.8     18.7     19.4  5.1992  3.1234
155     11.7     12.4     13.5  2.4300  1.2690
128     30.0     32.3     34.8  5.5680  3.3756
55      23.6     26.0     28.7  8.3804  4.2476
94      21.0     23.0     24.5  5.2185  3.6260

In [28]:
model = LinearRegression()
model.fit(X_train, y_train)

y_pred = model.predict(X_test)
print("Intercept:", model.intercept_)
print("Coefficients:", model.coef_)
print("MSE:", mean_squared_error(y_test, y_pred))
print("R2 Score:", r2_score(y_test, y_pred))
print("Predictions:", y_pred[:10])

Intercept: -530.2589601320462
Coefficients: [ 32.69148635  25.00974407 -29.79103877  23.87802386  15.97416331]
MSE: 16217.627414316448
R2 Score: 0.8676045498644964
Predictions: [  82.73439589 -161.53195552  408.44743721  304.46989813  184.13570068
  779.30121032 -220.93220498  271.94477243  270.60857515 1158.4646432 ]

In [ ]:
2.	Use the iris dataset. Write a Python program to view some basic statistical details like percentile, mean, std etc. of the species of 'Iris-setosa', 'Iris-versicolor' and 'Iris-virginica'. Apply logistic regression on the dataset to identify different species (setosa, versicolor, verginica) of Iris flowers given just 4 features: sepal and petal lengths and widths.. Find the accuracy of the model.

In [29]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

df = pd.read_csv("iris.csv")

df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [30]:
stats = df.groupby("species").describe()
print(stats)

X = df.drop("species", axis=1)
y = df["species"]

X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.3, random_state=42
)

           sepal_length                                              \
                  count   mean       std  min    25%  50%  75%  max
species
setosa             50.0  5.006  0.352490  4.3  4.800  5.0  5.2  5.8
versicolor         50.0  5.936  0.516171  4.9  5.600  5.9  6.3  7.0
virginica          50.0  6.588  0.635880  4.9  6.225  6.5  6.9  7.9

           sepal_width         ... petal_length      petal_width         \
                 count   mean  ...          75%  max       count   mean
species                        ...
setosa            50.0  3.418  ...        1.575  1.9        50.0  0.244
versicolor        50.0  2.770  ...        4.600  5.1        50.0  1.326
virginica         50.0  2.974  ...        5.875  6.9        50.0  2.026


                 std  min  25%  50%  75%  max
species
setosa      0.107210  0.1  0.2  0.2  0.3  0.6
versicolor  0.197753  1.0  1.2  1.3  1.5  1.8
virginica   0.274650  1.4  1.8  2.0  2.3  2.5

[3 rows x 32 columns]

In [31]:
model = LogisticRegression(max_iter=200)
model.fit(X_train, y_train)

y_pred = model.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)

print("Accuracy:", accuracy)

Accuracy: 1.0