In [28]:
transactions = {
    "T1": ["Milk", "Bread"],
    "T2": ["Bread", "Diaper", "Beer", "Eggs"],
    "T3": ["Milk", "Diaper", "Beer", "Cola"],
    "T4": ["Bread", "Milk", "Diaper", "Beer"],
    "T5": ["Bread", "Milk", "Diaper", "Cola"]
}
print(transactions)

{'T1': ['Milk', 'Bread'], 'T2': ['Bread', 'Diaper', 'Beer', 'Eggs'], 'T3': ['Milk', 'Diaper', 'Beer', 'Cola'], 'T4': ['Bread', 'Milk', 'Diaper', 'Beer'], 'T5': ['Bread', 'Milk', 'Diaper', 'Cola']}

In [ ]:
1. How many transactions are there?

In [3]:
len(transactions)

5

In [ ]:
2. Print all transaction IDs

In [4]:
for t_id in transactions:
    print(t_id)

T1
T2
T3
T4
T5

In [ ]:
3. Print items in transaction T3

In [5]:
transactions["T3"]

['Milk', 'Diaper', 'Beer', 'Cola']

In [ ]:
4. Create a single list of all items

In [7]:
all_items = []

for t in transactions:
    for item in transactions[t]:
        all_items.append(item)

all_items

['Milk',
 'Bread',
 'Bread',
 'Diaper',
 'Beer',
 'Eggs',
 'Milk',
 'Diaper',
 'Beer',
 'Cola',
 'Bread',
 'Milk',
 'Diaper',
 'Beer',
 'Bread',
 'Milk',
 'Diaper',
 'Cola']

In [ ]:
5. How many times does Milk appear?

In [13]:
all_items.count("Milk")

4

In [ ]:
6. How many transactions contain Bread?

In [21]:

count=0
for items in transactions.values():
    if "Bread" in items:
        count += 1

count

4

In [ ]:
7.Find all unique items using a set

In [15]:

unique_items = set(all_items)
unique_items

{'Beer', 'Bread', 'Cola', 'Diaper', 'Eggs', 'Milk'}

In [ ]:
8.Create a sorted list of unique items

In [16]:
sorted_unique_items = sorted(unique_items)
sorted_unique_items

['Beer', 'Bread', 'Cola', 'Diaper', 'Eggs', 'Milk']

In [ ]:
9.Count how many times each item appears

In [22]:
item_count = {}

for item in all_items:
    if item in item_count:
        item_count[item] += 1
    else:
        item_count[item] = 1

item_count

{'Milk': 4, 'Bread': 4, 'Diaper': 4, 'Beer': 3, 'Eggs': 1, 'Cola': 2}

In [ ]:
10.Find the item that appears the most

In [25]:
most_common_item = max(item_count, key=item_count.get)
most_common_item

'Milk'